@{
    var language = _localization.Getkey("Language").Value;
    ViewData["Title"] = "Altlayihə";
    int i = 0;
}
@model MidProjectViewModel


<!-- Contact Us Button -->
<div class="contactUsBtnBox " id="hereket">
    <a href="#" data-bs-toggle="modal" data-bs-target="#contactUsModal" id="ctnBtn">
        <i class="fa-solid fa-phone-volume "></i>
    </a>
</div>


<!-- Older posts -->
<section id="midProjectPage">
    <div class="container">
        <div class="row  justify-content-center ">
            <!-- Post -->
            <!-- Featured image -->
            <div class="col-md-9  col-sm-12 mb-2 ">
                <div class="projectInfoSlides">
                    @foreach (var item in Model.MidProject.MidProjectImages)
                    {
                        string type = item.Image.Substring(item.Image.LastIndexOf(".") + 1);

                        if (type == "mp4")
                        {
                            <div class="projectInfoSlide" style="display: none;">
                                <div class="video-container image-container">
                                    <video style="width: 100%; height: auto; object-fit: cover;" class="video"
                                           src="~/uploads/midprojects/@item?.Image"></video>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="projectInfoSlide" style="display:@(i==0?"block":"none")">
                                <div class="image-container">
                                    <a href="#">
                                        <img src="~/uploads/midprojects/@item.Image"
                                             class="img-fluid rounded hover-lift-light" alt="">
                                    </a>
                                </div>
                            </div>
                        }
                        i++;
                    }
                    <a class="info-prev-btn prev-btn" href="#">&lt;</a>
                    <a class="info-next-btn next-btn" href="#">&gt;</a>
                </div>
            </div>

            <div class="col-md-9 col-sm-12 midProjectPagedDownBox">
                <!-- Title -->
                <div class=" mb-2 midProjectPageTitleBox">
                    <h1 class="h5 d-block text-dark text-decoration-none d-flex justify-content-between mt-4 ">
                        @Model.MidProject.Name

                        @if (Model.MidProject.InstagramUrl != null)
                        {
                            <a target="_blank" href="@Model.MidProject.InstagramUrl">
                                <i class="fa-brands fa-instagram instagramLogo"></i>
                            </a>
                        }
                    </h1>
                </div>
                <!-- Read more -->
                <div class=" mb-2 midProjectPageDescBox">
                    <p class="d-inline-block  mt-2 ">
                        @if (language == "Az")
                        {
                            @Model.MidProject.DescribeAz
                        }
                        else if (language == "En")
                        {
                            @Model.MidProject.DescribeEn
                        }
                        else
                        {
                            @Model.MidProject.DescribeRu
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="BackgorundImageBox">
    <!-- BackgorundImage -->
    <div class="BackgorundPage">
        <div class="BackImage">
            <img src="~/assets/Images/slide-vaqif.png" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/slide-susa.jpg" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/slide-xaribilbul.png" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/slide-projec-yujk-scaled.jpg" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/cam.png" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/slide-service3-scaled.jpg" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/vaqif-2.jpeg" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/xaribulbul-2.jpeg" alt="Resim 1">
        </div>
    </div>
</section>

@await Html.PartialAsync("_contactUsPartial", Model.HomeIndexContactUsViewModel)


<div>
    <script>
        $(document).ready(function () {
            var slideIndex = 0;
            var slides = $(".BackImage");

            function showSlide() {
                slides.eq(slideIndex).fadeIn(1000).siblings().fadeOut(1000);
                slideIndex = (slideIndex + 1) % slides.length;
            }

            showSlide(); 

            setInterval(showSlide, 4500);
        });
    </script>
</div>

@section Scripts{
    <script src="~/assets/js/sliderInfo.js"></script>
}