@{
    var language = _localization.Getkey("Language").Value;
    ViewData["Title"] = "Altlayihə";
    int i = 0;
    List<string> numbers = new List<string>();
    if (Model.MidProject.ContactInfo != null)
    {
        if (Model.MidProject.ContactInfo.Length>11)
        {
            numbers.Add(@Model.MidProject.ContactInfo.Substring(0, Model.MidProject.ContactInfo.IndexOf("-")));
            numbers.Add(@Model.MidProject.ContactInfo.Substring(Model.MidProject.ContactInfo.LastIndexOf("-") + 1));
        }
        else
        {
            numbers.Add(Model.MidProject.ContactInfo);
        }

    }
   
}
@model MidProjectViewModel


<!-- Contact Us Button -->
<div class="contactUsBtnBox " id="hereket">
    <a href="#" data-bs-toggle="modal" data-bs-target="#contactUsModal" id="ctnBtn">
        <i class="fa-solid fa-phone-volume "></i>
    </a>
</div>


<!-- Older posts -->
<section id="midProjectPage">
    <div class="container">
        <div class="row  justify-content-center ">
            <!-- Post -->
            <!-- Featured image -->
            <div class="col-md-9  col-sm-12 mb-2 ">
                <div style="background:#465c7e85;" class="projectInfoSlides">
                    @foreach (var item in Model.MidProject.MidProjectImages)
                    {
                        string type = item.Image.Substring(item.Image.LastIndexOf(".") + 1);

                        if (type == "mp4")
                        {
                            <div class="projectInfoSlide" style="display: none;">
                                <div class="video-container image-container">
                                    <video style="width: 100%; height: auto; object-fit: cover;" class="video"
                                           src="~/uploads/midprojects/@item?.Image"></video>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="projectInfoSlide" style="display:@(i==0?"block":"none")">
                                <div class="image-container">
                                    <a target="_blank" href="@Model.MidProject.InstagramUrl">
                                        <img style="object-fit:contain;" src="~/uploads/midprojects/@item.Image"
                                             class="img-fluid rounded hover-lift-light" alt="">
                                    </a>
                                </div>
                            </div>
                        }
                        i++;
                    }
                    <a class="info-prev-btn prev-btn" href="#">&lt;</a>
                    <a class="info-next-btn next-btn" href="#">&gt;</a>
                </div>
            </div>

            <div class="col-md-9 col-sm-12 midProjectPagedDownBox">
                <!-- Title -->
                <div class=" mb-2 midProjectPageTitleBox">
                    <h1 class="h5 d-block text-dark text-decoration-none d-flex justify-content-between mt-4 ">
                        @Model.MidProject.Name
                    </h1>
                </div>
                <div class=" mb-2 projectPageTitleBox" style="display:flex; justify-content:end; align-items:center;">
                    <h1 class="h5 d-block text-dark text-decoration-none d-flex justify-content-between  ">
                        <ul class="d-flex">
                            @if (Model.MidProject.ContactInfo != null)
                            {
                                @foreach (var number in numbers)
                                {
                                    <li class="ms-3" style="display:flex; justify-content:center; align-items:center;">

                                        <a style="font-size:16px; color:black; display:flex; font-weight:600;" href="tel:@number">
                                            <i style="color:black;" class="fa-solid fa-phone me-1"></i>
                                            @number
                                        </a>
                                    </li>
                                }
                            }
                            <li class="ms-3">
                                @if (Model.MidProject.InstagramUrl != null)
                                {
                                    <a target="_blank" href="@Model.MidProject.InstagramUrl">
                                        <i style="color:#00A7C6;" class="fa-brands fa-instagram instagramLogo"></i>
                                    </a>
                                }
                            </li>
                        </ul>
                    </h1>
                </div>
                <!-- Read more -->
                <div class=" mb-2 midProjectPageDescBox">
                    <p class="d-inline-block  mt-2 ">
                        @if (language == "Az")
                        {
                            @Model.MidProject.DescribeAz
                        }
                        else if (language == "En")
                        {
                            @Model.MidProject.DescribeEn
                        }
                        else
                        {
                            @Model.MidProject.DescribeRu
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>



<!-- Login Modal -->
@await Html.PartialAsync("_loginModalPartial", Model.LoginViewModel)

<!-- ContactUs Modal -->
@await Html.PartialAsync("_contactUsPartial", Model.HomeIndexContactUsViewModel)

<!--BackgroundSlider -->
@await Html.PartialAsync("_backgroundImageSlider")



@section Scripts{
    <script src="~/assets/js/sliderInfo.js"></script>
}