@model HomeViewModel
@{
    ViewData["Title"] = "Ana səhifə";
    var language = _localization.Getkey("Language").Value;
    var count = 0;
}


@section LinksCss{
    <link href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/assets/styles/css/revo.css">
    <!-- owlCarousel -->
    <link rel="stylesheet" href="~/assets/styles/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/styles/css/owl.theme.default.min.css">

    <link href="https://xbinsaat.az/" rel="canonical">
    <meta property="og:url" content="https://xbinsaat.az/">
    <meta property="og:title" content="XARI BÜLBÜL İNŞAAT MMC">


    <meta itemprop="name" content="XARI BÜLBÜL İNŞAAT MMC" />
    <meta name="keywords" content="Xarıbülbül,XARIBÜLBÜL,XARI BÜLBÜL,XARI BÜLBÜL İNŞAAT,inşaat az,inşaat,xbinşaat,XARI BÜLBÜL İNŞAAT,XARI BÜLBÜL İNŞAAT MMC,xb inşaat,Xarıbülbül XEBERLER, XBİnşaat,Xbinsaat Xəbərlər,Xarıbülbül Xəbərlər,Xarıbülbül Karyera,Xarıbülbül Layihə,Layihə,Haqqımızda,Xidmətlər,Xarıbülbül Xidmətlər, Xarıbülbül Əlaqə, Xarıbülbül Elaqe,Elaqe,Əlaqə,İnşaat,Layihələndirmə,@(Model.Settings.FirstOrDefault(x=>x.Key == "ContactNumber")),@(Model.Settings.FirstOrDefault(x=>x.Key == "ContactEmail")), @foreach (var highProject in Model.HighProjects){
                            @(highProject.Name + ",")
}" />
    <meta name="description" content="@Model.Settings.FirstOrDefault(x => x.Key == "SeoDescription")?.Value">
    <meta property="og:description" content="@Model.Settings.FirstOrDefault(x => x.Key == "SeoDescription")?.Value">
}

<!-- Contact Us Button -->
<div class="contactUsBtnBox " id="hereket">
    <a href="#" data-bs-toggle="modal" data-bs-target="#contactUsModal" id="ctnBtn">

        <i class="fa-solid fa-phone-volume "></i>
    </a>
</div>

<!-- Revo Slider -->
<div class="slider">
    @foreach (var item in Model.RevolutionSliders)
    {
        <div class="slide @(count == 0?"revoActive":"")">
            <img src="~/uploads/revolutionSlider/@(item?.Image) " alt="Resim 1">
        </div>
        <span style="display:none;">  @(count++)</span>
    }
</div>

<!-- XBInsaat Web Size -->
<div class="xbinsaat-web">
    <!-- Boxs -->
    <section id="sliderBoxs">
        <div class=" sliderRangeBox">
            <div class=" revolutionSliderclass " style="display: flex; justify-content: end; ">
                <div class="kutus d-flex">
                    <div class="kutu generalKutu">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#generalModalScrollable">
                            <div class="kutuFeature" style="background-color: #000;" onmouseover="showSlide(0)" onclick="showSlide(0)">
                                <span style="color: white;">
                                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxGeneralTitle" + language)?.Value)
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="kutu servicesKutu">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#servicesModalScrollable">
                            <div class="kutuFeature" style="background-color: #fff;" onmouseover="showSlide(1)" onclick="showSlide(1)">
                                <span style="color: #949162;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxServicesTitle" + language)?.Value)</span>
                            </div>
                        </a>
                    </div>
                    <div class="kutu projectsKutu">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#projectsModalScrollable">
                            <div class="kutuFeature" style="background-color: #00A7C6;"
                                 onmouseover="showSlide(2)">
                                <span style="color: white;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxProjectsTitle" + language)?.Value)</span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div class=" revolutionSliderclass " style="display: flex; justify-content: end; ">
                <div class="kutus d-flex ">
                    <div class="kutu newsKutu">
                        <a asp-action="index" asp-controller="Xeberler">
                            <div class="kutuFeature" style="background-color: #5F6C7C;"
                                 onmouseover="showSlide(3)">
                                <span style="color: white;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxNewsTitle" + language)?.Value)</span>
                            </div>
                        </a>
                    </div>
                    <div class="kutu camKutu">
                        <a asp-action="index" asp-controller="career">
                            <div class="kutuFeature" style="background-color: white;" onmouseover="showSlide(4)">
                                <span style="color: black;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "Career" + language)?.Value)</span>

                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class=" revolutionSliderclass ">
                <div class="kutus  d-flex justify-content-end">
                    <div class="kutu contactusKutu">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#contactModalScrollable">
                            <div class="kutuFeature" style="background-color: #88A0AC;" onmouseover="showSlide(5)">
                                @*<span class="career-2" style="color: white;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "Career" + language)?.Value)</span>*@

                                <span style="color: white;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxContactUsTitle" + language)?.Value)</span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- Description -->
    <section id="boxDesctipions">
        <div class="row">
            <div class="boxDesc active col-lg-3">
                <h2 style="color: #363435;">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxGeneralTitle" + language)?.Value)
                </h2>
                <p style="color: #363435;">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "DescText" + language)?.Value)
                </p>

                <div class="boxDescButton">
                    <a data-bs-toggle="modal" data-bs-target="#generalModalScrollable"
                       style="background-color: #363435;" href="#">
                        @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxBtn" + language)?.Value)
                    </a>
                </div>
            </div>
            <div class="boxDesc col-lg-3">
                <h2 style="color: rgb(148, 83, 84);">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxServicesTitle" + language)?.Value)

                </h2>
                <p style="color: rgb(148, 83, 84);">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "DescServiceText" + language)?.Value)

                </p>

                <div class="boxDescButton">

                    <a data-bs-toggle="modal" data-bs-target="#servicesModalScrollable"
                       style="background-color: rgb(148, 83, 84);" href="#">
                        @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxBtn" + language)?.Value)

                    </a>

                </div>
            </div>
            <div class="boxDesc col-lg-3">
                <h2 style="color: rgb(96, 141, 155);">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxProjectsTitle" + language)?.Value)
                </h2>
                <p style="color: rgb(96, 141, 155);">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "DescProjectsText" + language)?.Value)

                </p>

                <div class="boxDescButton">
                    <a data-bs-toggle="modal" data-bs-target="#projectsModalScrollable"
                       style="background-color:rgb(87, 102, 118);" href="#">
                        @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxBtn" + language)?.Value)
                    </a>
                </div>
            </div>
            <div class="boxDesc col-lg-3">
                <h2 style="color: #827EA9;">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxNewsTitle" + language)?.Value)
                </h2>
                <p style="color:#827EA9;">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "DescNewsText" + language)?.Value)
                </p>

                <div class="boxDescButton">
                    <a asp-action="index" asp-controller="Xeberler"
                       style="background-color: #827EA9;">
                        @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxBtn" + language)?.Value)
                    </a>
                </div>
            </div>

            <div class="boxDesc col-lg-3">
                <h2 style="color: #4EA392;">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "Career" + language)?.Value)
                </h2>
                <p style="color: #4EA392;">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "DescText" + language)?.Value)
                </p>

                <div class="boxDescButton">
                    <a asp-action="index" asp-controller="career"
                       style="background-color: #4EA392;">
                        @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxBtn" + language)?.Value)
                    </a>
                </div>
            </div>

            <div class="boxDesc col-lg-3">
                <h2 style="color: #9B95C9;">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxContactUsTitle" + language)?.Value)
                </h2>
                <p style="color: #9B95C9;">
                    @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "DescContactUsText" + language)?.Value)
                </p>
                <div class="boxDescButton">
                    <a data-bs-toggle="modal" data-bs-target="#contactModalScrollable"
                       style="background-color: #9B95C9;" href="#">
                        @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxBtn" + language)?.Value)
                    </a>

                </div>
            </div>
        </div>
    </section>

</div>

<!-- XBInsaat Mobile Size -->
<div class="xbinsaat-mobile">
    <!-- Boxs -->
    <section id="sliderMobileBoxs">
        <div class="kutus row">
            <div class="col-5">
                <div class="kutu generalKutu d-flex justify-content-end">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#generalModalScrollable">
                        <div class="kutuFeature" style="background-color: #000;" onmouseover="showSlide(0)" onclick="showSlide(0)">
                            <span style="color: white;">
                                @Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxGeneralTitle" + language)?.Value)
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-5">
                <div class="kutu servicesKutu">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#servicesModalScrollable">
                        <div class="kutuFeature" style="background-color: #fff;" onmouseover="showSlide(1)" onclick="showSlide(1)">
                            <span style="color: #949162;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxServicesTitle" + language)?.Value)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-5">
                <div class="kutu newsKutu d-flex justify-content-end ">
                    <a asp-action="index" asp-controller="Xeberler">
                        <div class="kutuFeature" style="background-color: #575575;" onmouseover="showSlide(3)">
                            <span style="color: white;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxNewsTitle" + language)?.Value)</span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-5">
                <div class="kutu projectsKutu ">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#projectsModalScrollable">
                        <div class="kutuFeature" style="background-color: #00A7C5;" onmouseover="showSlide(2)">
                            <span style="color: white;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxProjectsTitle" + language)?.Value)</span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-5">
                <div class="kutu camKutu d-flex justify-content-end">
                    <a asp-action="index" asp-controller="career">
                        <div class="kutuFeature" style="background-color: #fff;" onmouseover="showSlide(4)">
                            <span style="color: black;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "Career" + language)?.Value)</span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-5">
                <div class="kutu contactusKutu">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#contactModalScrollable">
                        <div class="kutuFeature" style="background-color: #88A0AC;" onmouseover="showSlide(5)">

                            <span style="color: white;">@Html.Raw(Model.SettingViewModel.Localizations.FirstOrDefault(x => x.Key == "BoxContactUsTitle" + language)?.Value)</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

@*General Modal*@
@await Html.PartialAsync("_generalPartial", Model.SettingViewModel)

@*Services Modal*@
@await Html.PartialAsync("_servicesPartial", Model.HomeIndexServicesViewModel)

<!-- Modal Projects -->
@await Html.PartialAsync("_projectsPartial", Model.HomeIndexProjectsViewModel)

<!-- Modal Contact -->
@await Html.PartialAsync("_contactModalPartial", Model.SettingViewModel)

<!-- Login Modal -->
@await Html.PartialAsync("_loginModalPartial", Model.LoginViewModel)

@await Html.PartialAsync("_contactUsPartial", Model.HomeIndexContactUsViewModel)


@section Scripts{
    <!-- Slid   er image and text -->
    <script src="~/assets/js/revoSlider.js"></script>
    <!-- owlCarousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/owlCarousel.js"></script>
}


<!-- User Modal -->
@*@await Html.PartialAsync("_userProfileModalPartial", Model.SettingViewModel)*@

<!-- Modal Project -->
@*@await Html.PartialAsync("_projectPartial", Model.HomeIndexProjectViewModel)*@

<!-- Modal Project -->
<!-- Modal  Info MidProject -->
@*@await Html.PartialAsync("_midProjectPartial", Model.HomeIndexMidProjectViewModel)
*@
<!-- Modal News -->
@*@await Html.PartialAsync("_newsPartial", Model.HomeIndexNewsViewModel)*@
<!-- Modal New -->
@*@await Html.PartialAsync("_newPartial", Model.HomeIndexNewViewModel)*@
