@{
    ViewData["Title"] = "Layihə";
    var language = _localization.Getkey("Language").Value;
    int i = 0;
    List<string> numbers = new List<string>();

    if (Model.HighProject.ContactInfo != null)
    {
        if (Model.HighProject.ContactInfo.Contains('-'))
        {
            numbers.Add(@Model.HighProject.ContactInfo.Substring(0, Model.HighProject.ContactInfo.IndexOf("-")));
            numbers.Add(@Model.HighProject.ContactInfo.Substring(Model.HighProject.ContactInfo.LastIndexOf("-") + 1));
        }
        else
        {
            numbers.Add(@Model.HighProject.ContactInfo);
        }

    }
}
@section LinksCss{
    <!-- owlCarousel -->
    <link rel="stylesheet" href="~/assets/styles/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/styles/css/owl.theme.default.min.css">
    <link href="https://xbinsaat.az/layih%C9%99/index/@Model.HighProject.Id rel="canonical">
    <meta property="og:url" content="https://xbinsaat.az/layih%C9%99/index/@Model.HighProject.Id">
    <meta property="og:title" content="LAYIHE | XBINSAAT MMC">
}

@model ProjectViewModel

<!-- Contact Us Button -->
<div class="contactUsBtnBox " id="hereket">
    <a href="#" data-bs-toggle="modal" data-bs-target="#contactUsModal" id="ctnBtn">
        <i class="fa-solid fa-phone-volume "></i>
    </a>
</div>


<section id="projectPage">
    <div class="container">
        <div class="row  justify-content-center ">
            <!-- Post -->
            <!-- Featured image -->
            <div class="col-md-9  col-sm-12 mb-2 ">
                <div class="projectSliders">

                    @foreach (var item in Model.HighProject.HighProjectImages)
                    {
                        string type = item.Image.Substring(item.Image.LastIndexOf(".") + 1);

                        if (type == "mp4")
                        {
                            <div class="projectSlide" style="display: none;">
                                <div class="video-container image-container">
                                    <video muted style=" width: 100%; height: auto; object-fit: cover;" class="video"
                                           src="~/uploads/highprojects/@item?.Image"></video>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="projectSlide" style="display:@(i==0?"block":"none")">
                                <div class="image-container">
                                    <a target="_blank" href="@Model.HighProject.InstagramUrl">
                                        <img src="~/uploads/highprojects/@item.Image"
                                             class="img-fluid rounded hover-lift-light" alt="">
                                    </a>
                                </div>
                            </div>
                        }
                        i++;
                    }

                    <a class="prev-project-btn prev-btn" href="#">&lt;</a>
                    <a class="next-project-btn next-btn" href="#">&gt;</a>
                </div>
            </div>

            <div class="col-md-9 col-sm-12 projectPagedDownBox">
                <!-- Title -->
                <div class=" mb-2 projectPageTitleBox">
                    <h1 class="h5 d-block text-dark text-decoration-none d-flex justify-content-between mt-4 ">
                        @Model.HighProject.Name
                    </h1>
                </div>
                <div class=" mb-2 projectPageTitleBox" style="display:flex; justify-content:end; align-items:center;">
                    <h1 class="h5 d-block text-dark text-decoration-none d-flex justify-content-between  ">
                        <ul class="d-flex">
                            @if (Model.HighProject.ContactInfo != null)
                            {
                                @foreach (var number in numbers)
                                {
                                    <li class="ms-3" style="display:flex; justify-content:center; align-items:center;">

                                        <a style="font-size:16px; color:black; display:flex;" href="tel:@number">
                                            <i style="color:black;" class="fa-solid fa-phone me-1"></i>
                                            @number
                                        </a>
                                    </li>
                                }
                            }
                            <li class="ms-3">
                                @if (Model.HighProject.InstagramUrl != null)
                                {
                                    <a target="_blank" href="@Model.HighProject.InstagramUrl">
                                        <i style="color:#00A7C6;" class="fa-brands fa-instagram instagramLogo"></i>
                                    </a>
                                }
                            </li>
                        </ul>
                    </h1>
                </div>
                <!-- Read more -->
                <div class=" mb-2 projectPageDescBox">
                    <p class="d-inline-block  mt-2 ">
                        @if (language == "Az")
                        {
                            @Model.HighProject.DescribeAz
                        }
                        else if (language == "En")
                        {
                            @Model.HighProject.DescribeEn
                        }
                        else
                        {
                            @Model.HighProject.DescribeRu
                        }
                    </p>
                </div>
            </div>

            <!-- Shops -->
            <div class="col-md-9 mb-2 projectShops" style=" background: linear-gradient(to right, #ffffff8f, #adb5bd82); padding: 14px 14px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; border-radius: 6px; ">
                <h2 style="color:black;" class="mb-3 mt-2">
                    @Html.Raw(Model.Localizations.FirstOrDefault(x => x.Key == "ModalProjectModalShops" + language)?.Value)

                </h2>
                <div class="row  projectShopBoxs">
                    <!-- Web slider -->
                    @foreach (var midProject in Model.HighProject.MidProjects)
                    {
                        <div class="col-lg-3  col-md-7 mb-2 projectShopBox">
                            <!-- Featured image -->
                            <a asp-action="index" asp-controller="altlayihə" asp-route-id="@midProject.Id" target="_blank">
                                <img src="~/uploads/midprojects/@midProject.MidProjectImages.FirstOrDefault(x=>x.MidProjectId == midProject.Id)?.Image"
                                     class="img-fluid rounded hover-lift-light" alt="">
                            </a>
                            <!-- Title -->
                            @*  <a asp-action="index" asp-controller="altlayihə" asp-route-id="@midProject.Id"
                        class="projectBoxTitle d-block  text-decoration-none mt-3 ">
                        @midProject?.Name
                        </a>*@
                        </div>
                    }

                </div>
                <!-- Mobile Slider -->
                <div class="owl-carousel owl-carousel-slider owl-theme mobile-owl  p-0 m-0">
                    @foreach (var midProject in Model.HighProject.MidProjects)
                    {
                        <div class="item me-2">
                            <a target="_blank" asp-action="index" asp-controller="altlayihə" asp-route-id="@midProject.Id" class="projectBoxTitle d-block  text-decoration-none mt-3">
                                <img style=" border-radius: 5px;"
                                     src="~/uploads/midprojects/@midProject.MidProjectImages.FirstOrDefault(x=>x.MidProjectId == midProject.Id)?.Image" alt="" width="100% ">
                            </a>
                            @*  <a asp-action="index" asp-controller="altlayihə" asp-route-id="@midProject.Id" class="projectBoxTitle d-block  text-decoration-none mt-3"
                        style="color: #000;">
                        @midProject?.Name
                        </a>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Login Modal -->
@await Html.PartialAsync("_loginModalPartial", Model.LoginViewModel)

<!-- ContactUs Modal -->
@await Html.PartialAsync("_contactUsPartial", Model.HomeIndexContactUsViewModel)

<!--BackgroundSlider -->
@await Html.PartialAsync("_backgroundImageSlider")

@section Scripts{
    <script src="~/assets/js/slider.js"></script>
    <!-- owlCarousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/owlCarousel.js"></script>
}
