﻿@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> userManager;
@inject ILayoutServices services

@{
    //AppUser user = User.Identity.IsAuthenticated ? userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin) : null;
    var nowYear = DateTime.UtcNow.Year;
    IEnumerable<Setting> settings = await services.GetSettingsAsync();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-587SH2DF');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="aUEaAZUW_8hk8XRZykyg17c5OdiT5yBS__erL3ClFKo" />
    <link rel="stylesheet" href="~/assets/styles/scss/style.css">
    <!-- small logo -->
    <link rel="shortcut icon" href="~/uploads/setting/@settings.FirstOrDefault(x => x.Key == "SmallLogoImage")?.Value" type="image/x-icon" />

    <!-- @*Bootstrap  *@ -->
    @*    <link href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-reboot.min.css" />*@
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" />
    <!-- @*Bootstrap  *@ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        @settings.FirstOrDefault(x => x.Key == "Title")?.Value
    </title>

    @*Font*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,900;1,9..40,400&display=swap"
          rel="stylesheet">
    @*Font*@

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta name="keywords" content="@settings.FirstOrDefault(x => x.Key == "SeoKeywords")?.Value" />
    <meta name="description" content="@settings.FirstOrDefault(x => x.Key == "SeoDescription")?.Value" />
    <meta property="og:site_name" content="xbinsaat.az">
    <meta property="og:url" content="https://xbinsaat.az/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="@settings.FirstOrDefault(x => x.Key == "SeoDescription")?.Value">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta content="XARIBULBUL INSAAT MMC. Copyright (c) @nowYear" name="copyright">

    @await RenderSectionAsync("LinksCss", required: false)
    @await RenderSectionAsync("LinkS", required: false)


</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-587SH2DF"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @if (TempData["Error"] != null)
    {
        <input type="hidden" id="toaster-error" value="@TempData["Error"]" />
    }
    @if (TempData["Success"] != null)
    {
        <input type="hidden" id="toaster-success" value="@TempData["Success"]" />
    }

    <header>
        <section id="headerSection">
            <div class="row">
                <div class="headLogo">
                    <div class="headImageBox">
                        <a asp-action="index" asp-controller="home">
                            <img src="~/uploads/setting/@settings.FirstOrDefault(x => x.Key == "LogoImage")?.Value" alt="">
                        </a>
                    </div>
                </div>
                <div class="headRight ">
                    <div class="headLoginLangueage">
                        <div class="headLogin">
                            <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#loginModalScrollable"> -->
                            <a href="#" data-bs-toggle="modal" data-bs-target="#loginModalScrollable">
                                <img class="userImage" src="~/assets/Images/user.webp" alt="">
                                <img class="userWhiteImage" src="~/assets/Images/user-white.webp" alt="">
                            </a>
                        </div>
                        <div class="headLanguage mt-4">
                            <div class="dropdown">
                                <span onclick="toggleDropdown()">
                                    @Html.Raw(_localization.Getkey("Language").Value)
                                </span>
                                <div class="dropdown-content">
                                    <ul>
                                        <li>
                                            <a asp-controller="Home"
                                               asp-action="ChangeLanguage"
                                               asp-route-culture="az-Latn-AZ">Az</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Home"
                                               asp-action="ChangeLanguage"
                                               asp-route-culture="en-US">En</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Home"
                                               asp-action="ChangeLanguage"
                                               asp-route-culture="ru-RU">Ru</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="arrow-down"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </header>

    <main>
        @RenderBody()


    </main>

    <footer></footer>

    <!-- @*Bootstrap  *@ -->
    <script src="~/plugins/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js"></script>
    <!-- @*Bootstrap  *@ -->
    <!-- @*jquery cdn  *@ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- @*jquery cdn  *@ -->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(document).ready(function () {
            if ($("#toaster-error").length) {
                console.log($("#toaster-error"))
                toastr["error"]($("#toaster-error").val())
            }
            if ($("#toaster-success").length) {
                console.log($("#toaster-success"))
                toastr["success"]($("#toaster-success").val())
            }
        })
    </script>
    <script src="~/assets/js/ContactEmailRegex.js"></script>
    <script>
        $(document).ready(function () {

            $('#contactNumberInput').on('blur', function () {
                var phoneNumber = $(this).val();
                var numberRegex = /^(050|051|055|070|077|010|099)(\d{7})$/;

                if (!numberRegex.test(phoneNumber)) {
                    $('#numberError').text('Zəhmət olmasa düzgün telefon nömrəsi daxil edin.');
                    $('#numberError').css('padding', '3px 15px');

                } else {
                    $('#numberError').text('');
                    $('#numberError').css('padding', '0px');

                }
            });
        });
    </script>



    <script src="~/assets/js/localitaztion.js"></script>




    @*<script src="~/assets/js/liveCamera.js"></script>*@


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>


