@model HomeIndexNewsViewModel
@{
    var language = _localization.Getkey("Language").Value;

}

<!-- Modal News -->
<div class="modal fade" id="newsModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="newsModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 style="color:#00a7c6;" class="modal-title" id="newsModalScrollableTitle">

                    @Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "ModalNewsTitle" + language)?.Value)

                </h1>
                <button type="button" id="close-first" class="" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <!-- Older posts -->
                <section class="mt-2 fx-fade-up">
                    <div class="container">
                        <div class="row mt-4">
                            <!-- Post -->
                            @foreach (var newItem in Model.News)
                            {
                                <div class="col-lg-4  col-md-12 mb-2 newsBoxs">
                                    <!-- Featured image -->
                                    <a asp-action="index" asp-controller="xəbər" asp-route-id="@newItem.Id" >
                                        <img src="~/uploads/news/@newItem.NewsImages.FirstOrDefault(x=>x.NewsId == newItem.Id)?.Image"
                                             class="img-fluid rounded hover-lift-light" alt="">
                                    </a>

                                    <!-- Title -->
                                    <a asp-action="index" asp-controller="xəbər" asp-route-id="@newItem.Id"  class=" newsBoxTitle d-block text-dark text-decoration-none mt-4">
                                        @newItem.Title
                                    </a>

                                    <!-- Read more -->
                                    <a asp-action="index" asp-controller="xəbər" asp-route-id="@newItem.Id"  class=" postReadText d-inline-block border-bottom border-primary text-decoration-none mt-2 pb-1">
                                        @Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "ReadPostText" + language)?.Value)

                                    </a>
                                </div>
                            }
                        </div>
                        <span style="display:none; opocity:0;" id="langText">@language</span>
                        <!-- Go to previous posts -->
                        <a href="#" type="button" data-bs-dismiss="modal" aria-label="Close"
                           class="newsBackBtn btn btn-pastel-primary hover-lift-light text-uppercase-bold-sm mt-4">
                            <i class="fas fa-chevron-left fa-sm mr-2"></i>
                            @Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "ModalHomeBackBtnText" + language)?.Value)
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>

